.product-card {
    position: relative;
    display: block;
    width: 312px;
    height: 472px;
    min-height: 472px;
    padding: 17px 47px;
    background-color: $light-grey;
    background: -o-linear-gradient(315deg, transparent 30px, $light-grey 0);
    background: linear-gradient(135deg, transparent 30px, $light-grey 0);
    border-radius: $border-radius-12;
    &::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        z-index: -1;
        width: 320px;
        height: calc(100% + 8px);
        max-height: 480px;
        border-radius: $border-radius-12;
        background-color: $blue;
        background: -o-linear-gradient(315deg, transparent 31px, $blue 0);
        background: linear-gradient(135deg, transparent 31px, $blue 0);
    }
    &:hover {
        cursor: pointer;
        &::before {
            background-color: $light-blue;
            background: -o-linear-gradient(315deg, transparent 31px, $light-blue 0);
            background: linear-gradient(135deg, transparent 31px, $light-blue 0);
        }
        .product-card {
            &__weight {
                background-color: $light-blue;
            }
        }
    }
    &__note {
        margin: 0;
        font-family: $trebuchet;
        font-style: $font-style-normal;
        font-weight: $font-weight-400;
        font-size: 16px;
        line-height: 19px;     
        color: $grey;
        &::before {
            content: attr(data-nohover);
        }
        + .product-card {
            &__title {
                margin-top: 5px;
            }
        }
    }
    &__title {
        margin: 0;
        font-family: $trebuchet;
        font-style: $font-style-normal;
        font-weight: $font-weight-700;
        font-size: 48px;
        line-height: 56px;
        color: $black;
        > span {
            display: block;
            font-size: 24px;
            line-height: 28px;
        }
        + .product-card {
            &__description {
                margin-top: 15px;
            }
        }
    }
    &__description {
        margin: 0;
        padding: 0;
        list-style-type: none;
        > li {
            font-family: $trebuchet;
            font-style: $font-style-normal;
            font-weight: $font-weight-400;
            font-size: 14px;
            line-height: 16px;
            color: $grey;
            > span {
                font-weight: $font-weight-700;
            }
        }
    }
    &__weight {
        position: absolute;
        right: 12px;
        bottom: 12px;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 80px;
        height: 80px;
        background-color: $blue;
        border-radius: $border-radius-50;
        font-family: $trebuchet;
        font-style: $font-style-normal;
        font-weight: $font-weight-400;
        font-size: 42px;
        line-height: 42px;
        color: $white;
        > span {
            display: block;
            font-size: 21px;
            line-height: 22px;
        }
    }
    &__image {
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom-left-radius: 12px;
    }
}