/*COLORS*/
$white                  : #FFFFFF;
$pink-border            : #E52E7A;
$pink-text              : #E62E7A;
$pink                   : #D91667;
$black                  : #000000;
$light-grey             : #F2F2F2;
$grey-disabled          : #B3B3B3;
$grey                   : #666666;
$light-blue             : #2EA8E6;
$blue                   : #1698D9;
$yellow                 : #FFFF66;

/*FONTS*/
$exo                    : 'Exo2', sans-serif;
$trebuchet              : 'Trebuchet MS', sans-serif;

/*FONT STYLE*/
$font-style-normal      : normal !default;

/*FONT WEIGHT*/
$font-weight-400        : 400 !default;
$font-weight-700        : 700 !default;

/*BORDER RADIUS*/
$border-radius-4        : 4px !default;
$border-radius-12       : 12px !default;
$border-radius-50       : 50% !default;