@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 400;
  src: local("Exo2.0-Thin"),
       url("../../assets/fonts/Exo2.0-Thin.eot") format("eot"),
       url("../../assets/fonts/Exo2.0-Thin.ttf") format("ttf"),
       url("../../assets/fonts/Exo2.0-Thin.woff2") format("woff2"),
       url("../../assets/fonts/Exo2.0-Thin.woff") format("woff");
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 100%;
  min-width: 340px;
  padding: 0;
  margin: 0 auto;
  background-color: #000000;
  background-image: url("../../assets/img/pattern.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba($black, 0.5)), color-stop(49.88%, rgba($black, 5e-05)), to(rgba($black, 0.5)));
    background: -o-linear-gradient(top, rgba($black, 0.5) 0%, rgba($black, 5e-05) 49.88%, rgba($black, 0.5) 100%);
    background: linear-gradient(180deg, rgba($black, 0.5) 0%, rgba($black, 5e-05) 49.88%, rgba($black, 0.5) 100%);
    z-index: -2;
  }
  @media screen and (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

p {
  margin: 0;
  padding: 0;
}